/* General */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    background-color: #202020;;
}

*, *::after, *::before {
    box-sizing: border-box;
}

main {
    position: relative;
    background-color: white;
}

h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container, 
.text-container{
    padding-left: 1em;
    padding-right: 1em;
}

.caption-line-height {
    line-height: 1.3;
}

/* Layout - Header */
header {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px black;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header-icon{
    display: flex;
    gap: 0.2em;
    align-items: center;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

nav i {
    font-size: large;
}


/* Hero Post */
.hero-post {
    background-image: url("../images/hero-post.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    overflow: hidden; /* Important: prevents image from overflowing */
    position: relative;
    height: 300px;

    * {
        z-index: 2;
    }
}

.hero-post::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    background-image: url("../images/hero-post.jpeg");
    background-position: center;
    background-size: cover;
    transition: 3s ease;
    z-index: 1;
}

.hero-post-link:hover .hero-post::before,
.hero-post-link:focus .hero-post::before {
    transform: scale(1.5);
    background-image: url("../images/hero-post.jpeg"), linear-gradient(
        to bottom, 
        rgba(255,255,255,0.3), 
        rgba(255,255,255,0), 
        rgba(255,255,255,0), 
        rgba(255, 255, 255, 0.3));
    background-blend-mode: overlay; 
}


.hero-post-text{
    color: #fff;
    margin: 3em 0 1em;
    text-shadow: 1px 1px black;
    max-width: 800px;
}

.hero-post-date {
    font-size: 0.6rem;
    margin-bottom: 1em;
}

.hero-post-caption {
    font-size: 0.8rem;
    margin-top: 0.8em;
}

/* Blog Grid */
.blog-grid {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    gap: 2em;
}

.blog-grid-cell {
    cursor: pointer;
    border-radius: 3px;
    position: relative;
}

.blog-grid-img {
    visibility: hidden;
    width: 100%;
    height: 200px;
    background-image: url("../images/article-img-1.jpg") ;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

.blog-grid-cell::before {
    content: "";
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 2s ease;
}

.blog-grid-cell-one::before {
    background-image: url("../images/article-img-1.jpg") ;
}
.blog-grid-cell-two::before {
    background-image: url("../images/article-img-2.jpg") ;
}
.blog-grid-cell-three::before {
    background-image: url("../images/article-img-3.jpg") ;
}
.blog-grid-cell-four::before {
    background-image: url("../images/article-img-4.jpg") ;
}
.blog-grid-cell-five::before {
    background-image: url("../images/article-img-5.jpg") ;
}
.blog-grid-cell-six::before {
    background-image: url("../images/article-img-6.jpg") ;
}
.blog-grid-cell-seven::before {
    background-image: url("../images/article-img-7.jpg") ;
}
.blog-grid-cell-eight::before {
    background-image: url("../images/article-img-8.jpg") ;
}
.blog-grid-cell-nine::before {
    background-image: url("../images/article-img-9.jpg") ;
}


.blog-grid-detail{
    padding-left: 0.3em;
    z-index: 2;
}

.blog-grid-date {
    margin: 1em 0;
}

.blog-grid-caption {
    color: #505050;
    margin-top: 0.5em;
}

.blog-grid-link:focus,
.blog-grid-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-grid-link:focus .blog-grid-cell::before,
.blog-grid-link:hover .blog-grid-cell::before{
    height: 100%;
    opacity: 0.2;
}


/* Post-page */
.post-image {
    background-image: url('../images/hero-post.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vw;
    max-height: 500px;
    margin-top: 1.5em;
}

.post-date {
    font-size: 0.8rem;
    padding-top: 3em;
    margin-bottom: 1.5em;
}

.post-container {
    margin-top: 2em;
}

.post-paragraph-title{
    font-weight: 700;
    font-size: 1.1em;
}

.first-post-paragraph-title{
    padding-top: 1em;
}

.post-paragraph-title,
.post-paragraph {
    margin-top: 1em;
}

/* About Me */

.about-me-pfp-container {
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.about-me-pfp {
    width: 180px;
    border-radius: 90px;
}

.about-me-title{
    margin-top: 1em;
    margin-bottom: 0.5em;
}




/* Recent Post Container */
.recent-post-container {
    text-align: center;
    font-weight: 700;
    margin-top: 3em;
}




/* View More */
.view-more-section {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 1em;
}

.view-more-btn{
    font-family: inherit;
    font-weight: 700;
    text-decoration: underline;
    background-color: white;
    border: none;
    cursor: pointer;
}

/* footer */
.footer-container {
    background-color: #202020;
    text-align: center;
    color: white;
    padding: 1em 0;

    div {
        font-size: 0.8rem;
    }
    
}

/* Navigation Hovering Effect */
a:hover,
a:focus {
    outline: none;
}

a:hover li,
a:focus li{
    text-decoration: underline;
}

/* Show More */
.initial-hidden {
    display: none;
}

/* Color Utility */
.light-gray-color{
    background-color: rgb(247, 244, 244);
}




@media (min-width: 480px){
    .container, 
    .text-container{
        padding-left: 3em;
        padding-right: 3em;
    }

    .hero-post {
        height: 62.5vw; /*At 62.5% of 480px = 300px, continue to grow from here*/
        max-height: 400px;
    }
    
    .blog-grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 2em 0;
    }

    .about-me-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
}

@media (min-width: 768px) {
    header {
        font-size: 1.2rem;
    }
    
    .hero-post-caption {
        font-size: 1rem;
    }
    
    .text-container {
        padding-left: 5em;
        padding-right: 5em;
    }
}