/* General */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
}

*, *::after, *::before {
    box-sizing: border-box;
}

main {
    position: relative;
}

h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 1em;
}

.caption-line-height {
    line-height: 1.3;
}

/* Layout - Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.header-icon{
    display: flex;
    gap: 0.2em;
    align-items: center;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}


/* View More */
.view-more-section {
    font-size: 0.8rem;
    text-align: center;
}

.view-more-link{
    text-decoration: underline;
    font-weight: 700;
}

/* footer */
.footer-container {
    background-color: #202020;
    text-align: center;
    color: white;

    div {
        font-size: 0.8rem;
    }
    
}

@media (min-width: 480px){
    
}

@media (min-width: 768px) {

    .container {
        padding: 1em 2em;
    }

    header {
        font-size: 1.2rem;
    }
    
}